{% extends "base.html" %}
{% load static %}

{% block header_meta %}
<title>Colophon</title>
<meta name="description" content="This page explains how this website was built and the technologies involved.">
{% endblock header_meta %}

{% block content %}
<main class="md:px-8 mt-16">
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="px-4 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <h1 class="text-5xl font-bold tracking-tight">
                    The Nitty-Gritty</h1>
                <div class="text-zinc-400">
                    <p class="mt-6 text-base text-zinc-400">
                        This site is where I bring my coding journey to life. I was inspired by
                        <a href="https://oluwatobi.dev/" class="text-teal-400 hover:text-teal-600 hover:underline" target="_blank" rel="noopener noreferrer">Oluwatobi’s website</a> to create a clean,
                        modern space to showcase what I build and how I build it. Thanks to him for the inspiration! 👌
                    </p>
                    <p class="mt-6 text-base text-zinc-400">
                        Under the hood, it’s powered by
                        <a href="https://www.python.org/" class="text-teal-400 hover:text-teal-600 hover:underline" target="_blank" rel="noopener noreferrer">Python</a>,
                        <a href="https://www.djangoproject.com/" class="text-teal-400 hover:text-teal-600 hover:underline" target="_blank" rel="noopener noreferrer">Django</a>,
                        <a href="https://tailwindcss.com/" class="text-teal-400 hover:text-teal-600 hover:underline" target="_blank" rel="noopener noreferrer">Tailwind CSS</a>, and
                        <a href="https://htmx.org/" class="text-teal-400 hover:text-teal-600 hover:underline" target="_blank" rel="noopener noreferrer">HTMX</a> —
                        some of my favorite tools for crafting fast, reliable web apps.
                    </p>
                    <p class="mt-6 text-base text-zinc-400">
                        The blog runs on
                        <a href="https://github.com/aaronbassett/coltrane" class="text-teal-400 hover:text-teal-600 hover:underline" target="_blank" rel="noopener noreferrer">Coltrane</a>,
                        a Django-based CMS that keeps content simple and flexible.
                    </p>
                    <p class="mt-6 text-base text-zinc-400">
                        This project is both a portfolio and a playground, where I keep learning and experimenting. Thanks for stopping by and
                        taking a look behind the scenes!
                    </p>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
